/* Estilos generales */

.body-listaAlumnos {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
  }
  
  .title {
    margin-top: 70px; 
    margin-bottom: 20px;
    text-align: center;
  }
  
  
  /* Estilos de la tabla */
  .body-listaAlumnos table {
    width: 60%;
    border-spacing: 20px 15px;
    margin: 0 auto;
  }
  
  .body-listaAlumnos th,
  .body-listaAlumnos td {
    padding: 15px;
    text-align:center ;
  }
  
  .body-listaAlumnos tbody tr {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.td-tabla {
    display:flex;
    justify-content: space-evenly;
}

.tabla-button img {
    width: 20px;
    height: auto;
}

  .botones-accion {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .botones-accion button {
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
  }

  .botones-accion button.aceptar {
    background-color: #4CAF50; /* Verde */
    color: #fff;
  }
  
  .botones-accion button.rechazar {
    background-color: #FF3737; /* Rojo */
    color: #fff;
  }
  .aceptar:hover {
    background-color: #ccc;
    cursor: pointer;
  }
  
  .aceptar:active {
    background-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .rechazar:hover {
    background-color: #ccc;
    cursor: pointer;
  }
  
  .rechazar:active {
    background-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
